# Ignore compiled C binaries (Windows)
telemetry_tx.exe
*.exe

# Ignore object files
*.o

# Ignore Python cache
__pycache__/
*.pyc

# Ignore editor settings
.vscode/

# Ignore temporary files
*.log
*.tmp
