# =========================
# C / Embedded build files
# =========================
*.c
*.o
*.out
*.bin
*.level1_screenshots_process_file(ignore it)

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc

# =========================
# Logs & temporary files
# =========================
*.log
*.tmp

# =========================
# Editor / OS files
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# CSV output
# =========================
# output.csv
